* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    background-color: #0015FF;
    color: white;
    margin: 20;
  }

  /* Style the header */
  header {
    padding: 30px;
    text-align: left;
    font-size: 28px;
  }
  
  /* Container for flexboxes */
  section {
    /* display: -webkit-flex; */
    display: flex;
  }
  
  /* Style the navigation menu */
  nav {
    /* -webkit-flex: 1;
    -ms-flex: 1; */
    flex: 1;
    padding: 20px; 
  }
  

/* unvisited link */
a:link {
    color: white;
  }
  /* visited link */
  a:visited {
    color: lightskyblue;
    font-style: italic;
  }
  /* mouse over link */
  a:hover {
    color: hotpink;
    font-style: italic;
  }
  /* selected link */
  a:active {
    color: hotpink;
    font-style: italic;
  }


  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Style the content */
  article {
    /* -webkit-flex: 3;
    -ms-flex: 3; */
    flex: 3;
    border: purple 3px solid;
    padding: 10px;
  }
  
  /* Style the footer */
  footer {
    padding: 20px; 
    text-align: left;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      /* -webkit-flex-direction: column; */
      flex-direction: column;
    }
    body {
        font-family: Helvetica, sans-serif;
        background-color: #0015FF;
        color: white;
        margin: 20;
        font-size: 16px;
      }
    header {
        padding: 20px;
        text-align: left;
        font-size: 22px;
      }

  }