
body {
    background-color: #ebe3e3;
    padding: 50px;
}
h1{
    text-align: center;
    color: #146AEC;
    font-size: 120px;
    font-style: italic;
}

H3 {
  font-family: Rubik, sans-serif;
  font-size: 36px;
}

.poem {
  font-family: Spectral, serif;
  font-size: 46px;
}


/* 4 different states for the same link: unvisited, vistited, hover and acitve */
/* unvisited link  */
a:link {
  color: green;
}
/* visited link */
a:visited {
  color: rgb(218, 20, 169);
}
/* mouse over link */
a:hover {
  color: red;
}
/* selected link */
a:active {
  color: yellow;
}