
body {
    background-color: #ebe3e3;
    padding: 50px;
}
h1{
    text-align: center;
    color: #146AEC;
    font-size: 120px;
    font-style: italic;
}

H3 {
  font-family: Rubik, sans-serif;
  font-size: 36px;
}

.poem {
  font-family: Spectral, serif;
  font-size: 46px;
}